# IDE
.idea/
*.iml

# Gradle
.gradle/
**/build/
out/
target/

# Wrapper (mantenerlo en el repo)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# Logs / temporales
*.log
*.tmp
.DS_Store
Thumbs.db